@model Fury.Models.Production


<h2>Productuion form</h2>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.FSCM)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FSCM)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Part_num)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Part_num)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.NiiN)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NiiN)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Serial_Num)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Serial_Num)
    </dd>

</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FSCM }) |
    @Html.ActionLink("Back to List", "ProDetails")
</p>  