@model Fury.Models.User
@{
    ViewBag.Title = "NewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New User</h2>
<style>
    .form-group {
        max-width: 1000px;
        margin: auto;
    }

   
    .btn.btn-default{
        margin-top: 40px ;
        margin-left:15px;
    }

</style>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Create", "Users"))
        {

            <div class="form-group row ">
                <div class="col-xs-10 col-md-7">
                    @Html.LabelFor(m => m.ID, new { @class = " form-label" })

                    @Html.TextBoxFor(m => m.ID, new { @class = "form-control", placeholder = "stock number", })
                </div>

                <div>
                    @Html.ValidationMessageFor(m => m.ID)
                </div>           
             </div>



                <div class="form-group row">
                    <div class="col-xs-10 col-md-7">
                        @Html.LabelFor(m => m.Name, new { @class = " control-label" })

                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Name)
                </div>



                <div class="form-group row">
                    <div class="col-xs-10 col-md-7">
                        @Html.LabelFor(m => m.Password, new { @class = " control-label" })


                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "temp password" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Password)
                </div>



                

                    @Html.AntiForgeryToken()
            
                <button  type="submit" class="btn btn-default" onclick="displayToastr()">
                    Add User
                </button>
            


        }
    </div>
</div>

<script>

    // document.getElementById("btnx").addEventListener("click",displayToastr());

    /*
    $(document).ready(function () {


       btnx.onclick= displayToastr();
    });*/

    function displayToastr() {

        toastr.success('Thank you')

    }
</script>